body{
  width: 920px;
  padding-top: 30px;
  margin: auto;
  color: #333333;
  font-family: verdana, sans-serif;
  background-color: #eee;
  padding-bottom: 30px;
}

header{
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 30px 30px 30px 30px;
}

header h1{
  font-family: 'Carter One', arial, serif;
  font-size: 2.6em;
  margin-bottom: 10px;
}

header div#login-box{
  float: right;
}

header #search-top-box input[type='text']{
  width: 300px;
}

section#container{
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 30px 30px 30px 30px;
}

section#container p#add-project-link{
  float: left;
}

section#container form#search-box{
  float: left;
  margin-left: 30px;
}

section#container h2{
  font-size: 1.2em;
  margin-bottom: 10px;
}

section#container h2 span.strong-text{
  font-weight: bold;
}

label{
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.field_with_errors label{
  color: red;
}

table{
  width: 100%;
  margin: auto;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 0.8em;
}

table thead th{
  border: 1px solid black;
  padding: 5px;
  background-color: #eee;
}

table td{
  border: 1px solid black;
  padding: 5px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

.notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  padding: 5px;
  margin-bottom: 10px;
}

.error {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px;
  margin-bottom: 10px;
}

section#home-call-to-action{
  width: 60%;
  margin:auto;
}

section#home-call-to-action input[type='text']{
  width: 300px;
}

#form-fields textarea{
  height: 150px;
  width: 800px;
}

#form-fields input[type='text']{
  width: 265px;
}
