<section id="home-call-to-action">

  <p id='add-project-link'><%= link_to "Add a project", new_project_path %></p>

  <%= form_tag searches_path, :method => :get, :id => "search-box" do %>
      <%= text_field_tag "search-field" %>
      <%= submit_tag "Search" %>
  <% end %>

</section>